<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="./css/style.css" />
<script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
<script src="/javascript/lesson.js"></script>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>After School Club</title>
  <link rel="icon" type="image/x-icon" href="./image/web_icon.ico" />
</head>

<body>
  <div id="app">
    <header>
      <div class="container1">
        <div class="sub-container1">
          <h1 v-text="sitename"></h1>
          <button class="cart" v-on:click="showCart">
            {{ cartItemCount }}
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Cart
          </button>
        </div>
      </div>
    </header>

    <main>
      <div class="search-sort-container" v-if="showProduct">
        <div class="search">
          <input class="search-input" type="text" id="searchInput" v-model="searchText" />
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>

        <div class="sort">
          <p>Sort by:&nbsp;&nbsp;</p>
          <div class="column category">
            <label>
              <input type="radio" v-model="sortCategory" value="Title" @change="sortSubject" />
              Title
            </label>
            <label>
              <input type="radio" v-model="sortCategory" value="Location" @change="sortSubject" />
              Location
            </label>
            <label>
              <input type="radio" v-model="sortCategory" value="Availability" @change="sortSubject" />
              Availability
            </label>
            <label>
              <input type="radio" v-model="sortCategory" value="Price" @change="sortSubject" />
              Price
            </label>
          </div>

          <div class="column order">
            <label>
              <input type="radio" v-model="sortOrder" value="ascending" @change="sortSubject" />
              Ascending
            </label>
            <label>
              <input type="radio" v-model="sortOrder" value="descending" @change="sortSubject" />
              Descending
            </label>
            <button class="button" @click="resetShowProduct">Relevance</button>
          </div>
        </div>
      </div>

      <div class="subject-container" v-if="showProduct">
        <div class="subject-box" v-for="(subject, subjectIndex) in filteredSubjects" :key="subject.id">
          <figure>
            <img v-bind:src="subject.image" />
          </figure>
          <h2 v-text="subject.title"></h2>
          <p>Location: {{subject.location}}</p>
          <p>Price: £{{subject.price}}</p>
          <p>Availability: {{subject.availableInventory}}</p>

          <button class="button" v-on:click="addToCart(subject, subjectIndex)" v-if="canAddToCart(subject)">
            Add to cart
          </button>
          <button class="disabled" v-else>Add to cart</button>
        </div>
      </div>


      <div class="Cart-container" v-else>
        <h3>Welcome to the checkout page</h3>
        <div class="Cart-page">
          <div class="cart-box" v-for="(item, key) in cart">
            <figure>
              <img v-bind:src="item.image" />
            </figure>
            <h2 v-text="item.title"></h2>
            <p>Price: £{{item.price}}</p>
            <p>Quantity: {{item.quantity}}</p>
            <button class="button" v-on:click="removeCartItem(item)">
              Remove
            </button>
          </div>
        </div>
        <hr>
        <div class="checkout-container">
          <div class="checkout-box">
            <label for="name">Name:</label>
            <input type="text" id="name" v-model="name" @input="checkInputs">
          </div>
          <div class="checkout-box">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" v-model="phone" @input="checkInputs">
          </div>
          <div class="checkout-box">
            <button id="checkout" :disabled="!isCheckoutEnabled" @click="checkout">Checkout</button>
          </div>
        </div>        
      </div>
    </main>
  </div>
  <script src="./javascript/app.js"></script>
</body>

</html>